<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadatak3</title>
</head>
<body>
    <h1>Forma za unos</h1>
    <form action="/zadatak2.html">
        <label for="godina1">Godina 1:</label>
        <input type="number" id="godina1" name="godina1" required>
        
        <label for="godina2">Godina 2:</label>
        <input type="number" id="godina2" name="godina2" required>

        <button type="submit">Unesi</button>
    </form>
</body>
</html>